/* MainPage */
.SLiderBox {
    display: flex;
    flex-direction: column;
    margin: 100px;
    width: 90%;
}

/* SuggestedMovies.js */
.SuggestedMoviesMainBox {
    border: solid 0px blue;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.PageTitle {
    text-align: center;
    padding-bottom: 20px;
}

.MovieTitleBox {
    display: flex;
    margin-bottom: 2px;
    align-items: center;
    align-content: center;
}

.VoteStyle {
    color: #F5C518;
    margin-left: 10px;
    margin-right: 2px;
}

.MovieOverviewBox {
    border-left: solid 2px rgb(185, 185, 185);
    padding: 6px;
}

/* CarouselSlider.js */
.EachMovieBox {
    display: flex;
    flex-direction: column;
    border: solid 1px rgb(87, 86, 86);
    border-radius: 2px;
    padding: 15px 10px 10px 15px;
    margin-right: 10px;
    height: 100px;
}

.slick-next,
.slick-prev {
    color: rgb(109, 109, 137) !important;
    background: none !important;
    filter: invert(0.6) !important;
}


.slick-disabled {
    color: rgb(204, 195, 195) !important;
    background: none !important;
    filter: invert(0.6) !important;
}

#movieDetails {
    margin-top: 10px !important;
    color: rgb(52, 52, 52) !important;
    border: solid 2px rgb(77, 77, 77) !important;
}

.MovieTitleVoteBox {
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    align-content: center;
    margin-bottom: 10px;
}

.GenreImdbBox {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 13px;
}

#genreClick,
#genreClick:visited {
    cursor: pointer;
    text-decoration: none;
    color: rgb(60, 60, 60);
}

#genreClick:hover {
    color: rgb(60, 60, 60);
    text-decoration: underline;
}

.StarSpan {
    color: #F5C518;
    margin-left: 4px;
    margin-right: 2px;
}


.GenresSlider {
    margin-top: 8px;
    font-weight: bold;
    font-size: 10px;
}

.EachGenreBox {
    display: flex;
    flex-direction: row;
    margin-top: 4px;
}

.GenreLink {
    font-size: 8px;
    margin-right: 4px;
    line-break: auto;
}

/* SideBarMovies.js */
.SideMovies {
    border: solid 0px red;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 21px;
}

.EachSideMovieBox {
    background-color: #fbfbfb;
    border: none;
    border-radius: 4px;
    margin-top: 8px;
    margin-bottom: 15px;
    padding: 15px;
    font-size: 12px;
}

.MuiIconButton-root {
    color: white;
}

.MovieTitleLink {
    color: black;
    text-decoration: none;
}

.MovieTitleLink:hover {
    text-decoration: underline;
}

.GenreLink {
    text-decoration: none;
    color: black;
}

.linkedClass:hover {
    text-decoration: underline;
}

/* MovieClicked.js */
.SelectedMovieMainBox {
    padding: 20px;
    width: 1200px;
    height: 800px;
    border: solid 0px red;
    margin: auto;
}

.SelectedMovieBox {
    display: flex;
    flex-direction: column;
    margin: 25px
}

.SelectedMovieTitleBox {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.SelectedMovieVoteBox {
    margin-left: 20px;
    display: flex;
    align-items: center;
    font-size: 20px;
    align-content: center;
    align-self: center;
}

#starSelectedMovie {
    color: #F5C518;
}

#voteSelectedMovie {
    font-size: 16px;
    margin-right: 5px;
}

.SelectedMovieMiniDataBox {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    border-bottom: solid 1px rgb(87, 86, 86);
    padding-bottom: 15px;
}

#langSelectedMovie {
    padding-left: 5px;
}

.SelectedMovieImdbBox {
    margin-top: 12px;
}

.SelectedMovieGenreBox {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.SelectedMovieDataBox {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    align-items: center;
    font-size: 14px;
    align-content: center;
}

.linkedClass {
    text-decoration: none;
    color: black;
}

/* CountryResult.js */
.LoadingBarBox {
    color: grey.500;
}

.LoadingBarBoxSize {
    height: 4px;
}

.CountryResMainBox {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    padding: 45px;
}

.CountryResDetailBox {
    margin-bottom: 20px;
}

.CountryResTitleBox {
    display: flex;
    margin-bottom: 2px;
    align-items: center;
    align-content: center;
}

.MovieTitleLink {
    color: black;
    text-decoration: none;
}

.MovieTitleLink:hover {
    text-decoration: underline;
}

.countStar {
    color: #F5C518;
}

.VoteCountStyle {
    margin-left: 5px;
    color: rgb(150, 150, 150);
}

.CountryResCountBox {
    border-left: solid 2px rgb(185, 185, 185);
    padding: 6px;
}

.CountryResProCountTitle {
    font-weight: bold;
    font-size: 14px;
    margin-right: 8px;
}

.SearchedClass {
    color: #e9bc16;
    text-decoration: none;
}


.NormalClass {
    color: black;
    text-decoration: none;
}

.NormalClass:hover,
.SearchedClass:hover {
    text-decoration: underline;
}

.PaginationStyle {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* GenreResult.js */
.GenreResMainBox {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    padding: 45px;
}

.GenreResDetailBox {
    margin-bottom: 20px;
}

.GenreResTitleBox {
    display: flex;
    margin-bottom: 2px;
    align-items: center;
    align-content: center;
}

.GenreResOverviewBox {
    border-left: solid 2px rgb(185, 185, 185);
    padding: 6px;
}

/* LanguageResult.js */
.LangResMainBox {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    padding: 45px;
}

.LangResDetailBox {
    margin-bottom: 20px;
}

.LangResTitleBox {
    display: flex;
    margin-bottom: 2px;
    align-items: center;
    align-content: center;
}

.LangResOverviewBox {
    border-left: solid 2px rgb(185, 185, 185);
    padding: 6px;
}

.LangAvailable {
    font-weight: bold;
    font-size: 14px;
    margin-right: 8px;
}

/* SearchBarResult.js */
.SearchBarMainBox {
    border: solid 0px red;
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    padding: 45px;
}

.SearchBarDetailBox {
    margin-bottom: 20px;
}

.SearchBarTitleBox {
    display: flex;
    margin-bottom: 2px;
    align-items: center;
    align-content: center;
}

.SearchBarOverviewBox {
    border-left: solid 2px rgb(185, 185, 185);
    padding-left: 6px;
    padding-top: 6px;
}

/* OpenMenu.js */
.OpenMenuEachLinkItem {
    margin-bottom: 12px;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.OpenMenuEachLinkItem:hover {
    color: rgb(198, 198, 198);
    text-decoration: underline;
}

.OpenMenuButtonBox {
    display: flex;
    flex-direction: column;
    height: 50px;
    margin-left: auto;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 15px;
    color: #F5C518;
}

.css-tzssek-MuiSvgIcon-root {
    color: #F5C518 !important;
}

ul.no-bullets {
    list-style-type: none;
    padding: 0;
    margin-left: 2px;
}

.OpenMenuEachItemsBox {
    margin-top: 20px;
    margin-left: 20px;
    color: white;
}

.OpenMenuMainBox {
    width: 1300px;
    height: 800px;
    background-color: #333433;
    border: none;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.OpenMenuMainBox:-webkit-scrollbar {
    display: none;
}

.OpenMenuDataBox {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    border: solid 0px red;
    margin: 10px 0 auto 40px;
    padding: 50px;
}

.OpenMenCountBox {
    border: solid 0px blue;
    justify-content: center;
    padding: 5px;
    margin-right: 45px;
}

.OpenMenGenrBox {
    border: solid 0px purple;
    padding: 5px;
    margin-right: 60px;
}

.OpenMenLangBox {
    border: solid 0px pink;
    padding: 5px;
    margin-right: 5px;
}

/* PageNotFound.js */
.PageErro404Box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 200px auto auto auto;
    align-content: center;
    align-items: center;
}

.PageErroTextBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto auto auto auto;
    align-items: center;
    align-items: center;
}

/* Footer.js */
.FooterMainBox {
    height: 40px;
    border-top: solid 2px rgb(60, 60, 60);
    text-align: center;
    color: rgb(145, 145, 145);
    padding-top: 10px;
    position: relative;
    bottom: 0;
    margin: 150px 50px 5px 50px;
    font-size: 8px
}

/* Advertisement.js */
.AdvertisementMainBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30PX;
}

/* RateMovie.js */
#RateMovieRatingStar {
    color: black !important;
}

#RateMovieRatingStar:hover {
    color: #F5C518 !important;
}

#SubmitRatingButton {
    margin-top: 20px;
    color: white !important;
    background-color: #F5C518 !important;
    font-weight: bolder;
}

.RateMovieCLoseBtn {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: 15px;
    margin-right: 15px
}

.RateMovieStarRatingMainBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.RateMovieStarDetailBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
}