/* MainPage */
.MainPageBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: solid 1px red; */
    margin: 20px 40px 20px 40px;
    padding: 20px;
}

.SLiderBox {
    display: flex;
    flex-direction: column;
    margin: 100px;
    width: 90%;
}

/* SearchResuts */
.SuggestedMoviesMainBox {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.PageTitle {
    text-align: center;
    padding-bottom: 20px;
}

.MovieTitleBox {
    display: flex;
    margin-bottom: 2px;
    align-items: center;
    align-content: center;
}

.VoteStyle {
    color: #F5C518;
    margin-left: 10px;
    margin-right: 2px;
}

.VoteCountStyle {
    margin-left: 12px;
    color: rgb(150, 150, 150);
}

.MovieOverviewBox {
    border-left: solid 2px rgb(185, 185, 185);
    padding: 6px;
}

/* CarouselSlider.js */
.EachMovieBox {
    display: flex;
    flex-direction: column;
    border: solid 1px rgb(87, 86, 86);
    border-radius: 2px;
    padding: 15px 10px 10px 15px;
    margin-right: 10px;
    height: 100px;
}

.slick-next,
.slick-prev {
    color: rgb(109, 109, 137) !important;
    background: none !important;
    filter: invert(0.6) !important;
}


.slick-disabled {
    color: rgb(204, 195, 195) !important;
    background: none !important;
    filter: invert(0.6) !important;
}

#movieDetails {
    margin-top: 10px !important;
    color: rgb(52, 52, 52) !important;
    border: solid 2px rgb(77, 77, 77) !important;
}

.MovieTitleVoteBox {
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    align-content: center;
    margin-bottom: 10px;
}

.GenreImdbBox {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 13px;
}

#genreClick,
#genreClick:visited {
    cursor: pointer;
    text-decoration: none;
    color: rgb(60, 60, 60);
}

#genreClick:hover {
    color: rgb(60, 60, 60);
    text-decoration: underline;
}

.StarSpan {
    color: #F5C518;
    margin-left: 4px;
    margin-right: 2px;
}


.GenresSlider {
    margin-top: 8px;
    font-weight: bold;
    font-size: 10px;
}

.EachGenreBox {
    display: flex;
    flex-direction: row;
    margin-top: 4px;
}

.GenreLink {
    font-size: 8px;
    margin-right: 4px;
    line-break: auto;
}

/* SideMovies.js */
.SideMvvies {
    /* border: solid 1px red; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 28px 20px 20px 20px;
}

.EachSideMovieBox{
    background-color: #f8f8f8;
    border: none;
    border-radius: 4px;
    margin-top: 8px;
    margin-bottom: 15px;
    padding: 5px 0px 10px 0;
    font-size: 12px;
}